Package: com.vvusu.springboard
Name: springboard_tweak
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: vvusu
Author: vvusu
Section: Tweaks
Version: 0.0.1-38
Installed-Size: 152
